.token-process{
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 800px; /* Need a specific value to work */
	height: 600px;
	z-index: 100;
	background-color: #F3F3F3;
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: #E9E9E9;
	padding: 10px;
}
.version-head, #compare-head{
	font-weight: bold;
}

.version-box, #compare-bluespice{
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: #E9E9E9;
	background-color: #F3F3F3;
	padding: 10px;
	margin-bottom: 10px;
}

.version-box{
	text-align: center;
}

.version-term, .version-support-hours, .version-admin{
	width: 400px;
	margin: auto;
}



#compare-bluespice table{
	width: 100%;
}

#compare-bluespice #content{
	background-color: inherit;
}

.tablepress thead th, .tablepress tfoot th {
    background-color: #3e5389;
    color: #fff;
}

.tablepress tbody tr:nth-child(odd){
	background-color: lightgray;
}

.version-button-upgrade{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}

.version-button-resign, .version-button-extend{
	background-color: lightgray; /* Green */
    border: none;
    color: black;

}

.version-button-upgrade, .version-button-resign, .version-button-extend{
	padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
	border-radius: 3px;
}