<div class="token-button">
	<button type="button" id="insert_token">Insert token</button>
</div>

<div class="token-process" style="display:none;">
	<h3>Process new upgrade token</h3>
	<p>Insert new upgrade token below please</p>
	<textarea id="token_input" rows="6"></textarea>
	<div id="token_checkup_result" style="display:none;">
		
	</div>
	<button type="button" id="close_token_input">close</button>
</div>
