<div class="token-process" style="display:none;">
	<h3>{{_ "bs-upgradehelper-tokenui-head"}}</h3>
	<p>{{_ "bs-upgradehelper-tokenui-text"}}</p>
	<textarea id="token_input" rows="6"></textarea>
	<div id="token_checkup_result" style="display:none;">

	</div>
	<button type="button" id="close_token_input">close</button>
</div>
