<div class="token-process" style="display:none;">
	<h3>{{_ "bs-upgradehelper-tokenui-head"}}</h3>
	<p>{{_ "bs-upgradehelper-tokenui-text"}}</p>
	<textarea id="token_input" rows="6"></textarea>
	<div id="token_checkup_result" style="display:none;">
	</div>
	<button class="button-do-upgrade" style="display:none;">Make it so</button>
	<h3 class="upgrade_status_element" style="display:none;">Upgrade Status</h3>
	<ul id="upgrade_status" class="upgrade_status_element" style="display:none;">
	</ul>
	<h3 id="upgrade_complete" style="display:none;">Congratulation, the wiki have been upgraded.</h3>
	<button type="button" id="reload_wiki" style="display:none;">reload wiki</button>
	<h3 id="upgrade_error" style="display:none;">Sorry but something went wrong while upgrading the wiki.</h3>
	<button type="button" id="close_token_input">close</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
	$( function (  ) {
		var getUrl = window.location;
		const socket = io( 'http://' + getUrl.host + ':3000' );
		var errorsOnUpgrade = false;
		socket.on( 'upgradehelper statusupdate', function ( data ) {
			$( '#upgrade_status' ).append( $( '<li>' ).text( data.message ) );
			if(data.action === "created" && data.file.indexOf('.error') !== -1){
				errorsOnUpgrade = true;
			}
			if(data.action === "deleted" && data.file === "upgrade.task" && !errorsOnUpgrade){
				$('#upgrade_complete').show();
				$('#reload_wiki').click(function(){
					location.reload();
				});
				$('#reload_wiki').show();
			}else if(data.action === "deleted" && data.file === "upgrade.task" && errorsOnUpgrade){
				$('#upgrade_error').show();
			}
			//window.scrollTo( 0, document.body.scrollHeight );
		} );
	} );
</script>