<div class="version-overview">
	<div class="version-head">{{version_head}}</div>
	<div class="version-body">
		<div class="version-package"><span class="label">Package:</span> <span>{{version_package}}</span></div>
		<div class="version-version"><span class="label">Version:</span> <span>{{version_version}}</span></div>
		<div class="version-system"><span class="label">System:</span> <span>{{version_system}}</span></div>
		{{#version_pro}}
		<div class="version-valid-from"><span class="label">Valid from:</span> <span>{{version_valid_from}}</span></div>
		<div class="version-valid-until"><span class="label">Valid until:</span> <span>{{version_valid_until}}</span></div>
		<div class="version-user-allowed"><span class="label">Users allowed:</span> <span>{{version_user_allowed}}</span></div>
		{{/version_pro}}
	</div>
</div>
