<div class="version-overview">
	<div class="version-head">{{_ "bs-ugradehelper-current-title"}}</div>
	<div class="version-box">
		<div class="version-description">
			{{_ "bs-ugradehelper-package-description" package blueSpiceVersion package_limited}}
		</div>
		<div class="version-term">
			<div>{{_ "bs-upgradehelper-package-term-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-term" package}}</div>
		</div>
		<div class="version-support-hours">
			<div>{{_ "bs-upgradehelper-package-licensed-users-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-licensed-users" licensedUsers}}</div>
		</div>
		<div class="version-admin">
			<div>{{_ "bs-upgradehelper-package-admin-label"}}:</div>
			<div>{{_ "bs-upgradehelper-package-admin" adminUsername}}</div>
		</div>

		<div class="version-buttons">
			<button class="version-button-resign">{{_ "bs-upgradehelper-package-button-resign"}}</button>
			<button class="version-button-upgrade">{{bs-upgradehelper-package-button-upgrade}}</button>
		</div>
	</div>
</div>
